body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202225;
}
form {
  width:50%; 
  text-align: center;
  margin: 0 auto;
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 50%;
  /* transition: all 2s ease-in-out; */
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 25%;
}

.container {
  padding: 16px;
}
